<div [ngClass]="variant" class="form-group">
  <ng-container *ngIf="label && variant === 'login'">
    <label>{{ label }}</label>
  </ng-container>

  <input
    [type]="type"
    [placeholder]="placeholder"
    [formControl]="formControl"
    [ngClass]="{
      'form-control': true,
      'form-control-login': variant === 'login',
      'form-control-dashboard': variant === 'dashboard',
      error: control.invalid && control.touched
    }"
  />

  <ng-container *ngIf="control.invalid && control.touched && variant === 'login'">
    <small class="error">{{ getErrorMessage() }}</small>
  </ng-container>
</div>
